<plugin name='jslint' version='0.3' grailsVersion='1.2.1 &gt; *'>
  <author>James Miller</author>
  <authorEmail>jamesmiller01@gmail.com</authorEmail>
  <title>JsLint for Grails</title>
  <description>\
A Grails command line script to run JsLint on javascript files.
</description>
  <documentation>http://grails.org/plugin/jslint</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>JsLintConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenCentral' />
      <resolver type='mavenRepo' root='http://snapshots.repository.codehaus.org' name='http://snapshots.repository.codehaus.org' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://repository.codehaus.org' name='http://repository.codehaus.org' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://download.java.net/maven/2/' name='http://download.java.net/maven/2/' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://repository.jboss.com/maven2/' name='http://repository.jboss.com/maven2/' m2compatbile='true' />
    </resolvers>
    <dependency group='com.googlecode.jslint4java' name='jslint4java-ant' version='2.0.0' conf='runtime' transitive='true' />
  </dependencies>
  <behavior />
</plugin>